<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chronicdisease">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".yuhouelestical.YuhouElestical" />
        <activity android:name=".base_elestical.BaseElestical" />
        <activity android:name=".base_elestical.BloodPressure" />
        <activity android:name=".base_elestical.Bloodsugar" />
        <activity android:name=".base_elestical.bloodfat_input" />
        <activity android:name=".base_elestical.bloodfat_assess" />
        <activity android:name=".base_elestical.Whestimate" />
        <activity android:name=".base_elestical.sugarManage" />
        <activity android:name=".base_elestical.baseManage" />
        <activity android:name=".base_elestical.exManage" />
        <activity android:name=".base_elestical.DangerBmi" />
        <activity android:name=".NumOfDangerActivity" />
        <activity android:name=".CheckTOActivity" />
        <activity android:name=".CheckDiabetesActivity" />
        <activity android:name=".CheckACCActivity" />
        <activity android:name=".CheckManageActivity" />
        <activity android:name=".ShowResultActivity" />
        <activity android:name=".CheckPressLevelActivity"></activity>
    </application>

</manifest>